In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [91]:
data = pd.read_csv('C:/Module_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
936,tt0253556,60000000,43061982,Reign of Fire,Christian Bale|Matthew McConaughey|Izabella Sc...,Rob Bowman,Fight Fire With Fire,"In post-apocalyptic England, an American volun...",101,Action|Fantasy|Science Fiction|Thriller,The Zanuck Company|Spyglass Entertainment|Worl...,7/12/2002,5.9,2002
346,tt0810784,8500000,4440055,Bright Star,Abbie Cornish|Ben Whishaw|Paul Schneider|Kerry...,Jane Campion,First love burns brightest.,"In 1818, high-spirited young Fanny Brawne find...",119,Drama|Romance,BBC Films|PathÃ© Renn Productions|UK Film Coun...,11/5/2009,6.3,2009
1215,tt1691917,50000000,219788712,Planes,Dane Cook|Carlos Alazraqui|Val Kilmer|Julia Lo...,Klay Hall,From above the world of Cars,Dusty is a cropdusting plane who dreams of com...,91,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,8/9/2013,5.7,2013
1617,tt0391198,10000000,183474602,The Grudge,Sarah Michelle Gellar|Jason Behr|William Mapot...,Takashi Shimizu,It never forgives. It never forgets.,Karen Davis is an American Nurse moves to Toky...,92,Horror|Thriller|Mystery,Ghost House Pictures|Vertigo Entertainment|Sen...,10/22/2004,5.8,2004
1207,tt1588173,35000000,116980662,Warm Bodies,Nicholas Hoult|Teresa Palmer|Analeigh Tipton|R...,Jonathan Levine,Cold body. Warm heart.,After a zombie becomes involved with the girlf...,97,Horror|Comedy|Romance,Summit Entertainment,1/31/2013,6.4,2013

In [92]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [93]:
answers = {} # создадим словарь для ответов

data.insert(3, 'profit', (data.revenue - data.budget)) # добавим колонку с прибылью в основной датафрейм

# 1. У какого фильма из списка самый большой бюджет?

In [94]:
# вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# "+" ответ верный

In [95]:
# код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [96]:
data.query('budget == budget.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [97]:
# вариант ответа
answers['2'] = '2. Gods and Generals (tt0279111)'

# '+' ответ верный

In [98]:
data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [99]:
# вариант ответа
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# '+' ответ верный

In [100]:
data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,-15540000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [101]:
# вариант ответа
answers['4'] = '2. 110'

# '+' ответ верный

In [102]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [103]:
# вариант ответа
answers['5'] = '1. 107'

# '+' ответ верный

In [104]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [105]:
# вариант ответа
answers['6'] = '5. Avatar (tt0499549)'

# '+' ответ верный

In [106]:
data.query('profit == profit.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

# 7. Какой фильм самый убыточный?

In [107]:
# вариант ответа
answers['7'] = '5. The Lone Ranger (tt1210819)'

# '+' ответ верный

In [108]:
data.query('profit == profit.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [109]:
# вариант ответа
answers['8'] = '1. 1478'

# '+' ответ верный

In [110]:
len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [111]:
# вариант ответа
answers['9'] = '4. The Dark Knight (tt0468569)'

# '+' ответ верный

In [112]:
data[data.profit == data.query('release_year == 2008').profit.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [113]:
# вариант ответа
answers['10'] = '5. The Lone Ranger (tt1210819)'

# '+' ответ верный

In [114]:
data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 11. Какого жанра фильмов больше всего?

In [115]:
# вариант ответа
answers['11'] = '3. Drama'

# '+' ответ верный

In [116]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(3)

Drama       782
Comedy      683
Thriller    596
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [117]:
# вариант ответа
answers['12'] = '1. Drama'

# '+' ответ верный

### 1 способ

In [118]:
data_genres = data.copy()  # Скопируем датафрейм в новую переменную. 
data_genres = data_genres[data_genres.profit > 0] # Отсортируем по значению прибыли.

# Преобразуем к Series колонку жанров, разделив элементы. Подсчитаем количество каждого жанра и найдем максимальное значение.
pd.Series(data_genres.genres.str.cat(sep='|').split('|')).value_counts().head(3)

Drama       560
Comedy      551
Thriller    446
dtype: int64

### 2 способ

In [119]:
data_genres_1 = data.copy() # Скопируем датафрейм в новую переменную.
data_genres_1 = data_genres_1[data_genres_1.profit > 0] # Отсортируем по значению прибыли.
data_genres_1.genres = data_genres_1.genres.apply(lambda x: x.split('|')) # Применим функцию для разделения элементов в колонке жанров.

import collections
c = collections.Counter() # Введем переменную для подсчета объектов с помощью модуля collections.

# Пройдемся циклом по жанрам и подсчитаем количество значений для каждого жанра.
for genres in data_genres_1.genres:
    for genre in genres:
        c[genre] += 1
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [120]:
# вариант ответа
answers['13'] = '5. Peter Jackson'

# '+' ответ верный

In [121]:
data.groupby(['director']).profit.sum().sort_values(ascending=False).head(3)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [122]:
# вариант ответа
answers['14'] = '3. Robert Rodriguez'

# '+' ответ верный

In [123]:
# Отфильтруем жанры по наличию стиля Action и запишем в новую переменную.
data_director_action = data[data.genres.str.contains("Action")] 
# Разделим элементы в колонке режиссеров, подсчитаем количество и выведем самые часто встречающиеся.
Counter(data_director_action.director.str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [124]:
# вариант ответа
answers['15'] = '3. Chris Hemsworth'

# '+' ответ верный

In [125]:
data_2012 = data.copy()  # Скопируем датафрейм в новую переменную.
data_2012 = data_2012.query('release_year == 2012') # Отсортируем по году выхода фильма.

data_2012.cast = data_2012.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_2012 = data_2012.explode('cast') # Преобразуем каждый элемент списка актерского состава в строку для удобства.

# Сгруппируем сумму сборов и актерский состав и отсортируем по убывающей.
data_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(3)

cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [126]:
# вариант ответа
answers['16'] = '3. Matt Damon'

# '+' ответ верный

In [127]:
data_budget_above_avg = data.copy()  # Скопируем датафрейм в новую переменную.
data_budget_above_avg = data_budget_above_avg.query('budget > budget.mean()') # Отсортируем по году выхода фильма.

data_budget_above_avg.cast = data_budget_above_avg.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_budget_above_avg = data_budget_above_avg.explode('cast') # Преобразуем каждый элемент списка актерского состава в строку для удобства.

# Сгруппируем сумму сборов и актерский состав и отсортируем по убывающей.
data_budget_above_avg.cast.value_counts().head(3)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [128]:
# вариант ответа
answers['17'] = '2. Action'

# '+' ответ верный

In [129]:
data_Cage = data[data.cast.str.contains("Nicolas Cage")]
Counter(data_Cage.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [130]:
# вариант ответа
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# '+' ответ верный

In [131]:
data_Paramount = data[data.production_companies.str.contains('Paramount Pictures')]
data_Paramount.query('profit == profit.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
925,tt0267626,100000000,35168966,-64831034,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [132]:
# вариант ответа
answers['19'] = '5. 2015'

# '+' ответ верный

In [133]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(3)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [134]:
# вариант ответа
answers['20'] = '1. 2014'

# '+' ответ верный

In [135]:
data_Warner = data[data.production_companies.str.contains('Warner Bros')]
data_Warner.groupby('release_year').revenue.sum().sort_values(ascending=False).head(3)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [136]:
# вариант ответа
answers['21'] = '4. Сентябрь'

# '+' ответ верный

In [137]:
data_months = data.copy() 
# Применив функцию, разделим значения в колонке дат и возьмём первый элемент (месяц)
data_months.release_date = data_months.release_date.apply(lambda x: x.split('/')[0]) 
data_months.release_date.value_counts(ascending=False).head(3)

9     227
12    190
10    186
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [138]:
# вариант ответа
answers['22'] = '2. 450'

# '+' ответ верный

In [139]:
data_summer = data.copy() 
data_summer.release_date = data_summer.release_date.apply(lambda x: x.split('/')[0]) 
len(data_summer.query('release_date in ["6", "7", "8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [140]:
# вариант ответа
answers['23'] = '5. Peter Jackson'

# '+' ответ верный

In [141]:
data_winter = data.copy() 
data_winter.release_date = data_winter.release_date.apply(lambda x: x.split('/')[0]) 
data_winter = data_winter.query('release_date in ["1", "2", "12"]')
Counter(data_winter.director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [142]:
# вариант ответа
answers['24'] = '5. Four By Two Productions'

# '+' ответ верный

In [143]:
data_title = data.copy() 
data_title.original_title = data_title.original_title.apply(lambda x: len(x)) # Преобразуем названия фильмов в количество символов названия.
data_title.production_companies = data_title.production_companies.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке компаний.
data_title = data_title.explode('production_companies') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Сгруппируем среднее значения символов в названии и компании и отсортируем по убывающей.
data_title.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False).head(3)

production_companies
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Dos Corazones              47.0
Name: original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [144]:
# вариант ответа
answers['25'] = '3. Midnight Picture Show'

# '+' ответ верный

In [145]:
data_overview = data.copy() 
data_overview.overview = data_overview.overview.apply(lambda x: len(x)) # Преобразуем описания фильмов в количество символов описания.
data_overview.production_companies = data_overview.production_companies.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке компаний.
data_overview = data_overview.explode('production_companies') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Сгруппируем среднее значения символов в описании фильма и компании и отсортируем по убывающей.
data_overview.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).head(3)

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [146]:
# вариант ответа
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# '+' ответ верный

In [147]:
data[['original_title', 'vote_average']].query('vote_average >= vote_average.quantile(0.99)').sort_values(by='vote_average', ascending=False)

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [148]:
# вариант ответа
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

# '+' ответ верный

In [149]:
data_cast_27 = data.copy() # Скопируем датафрейм в новую переменную.
data_cast_27.cast = data_cast_27.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_cast_27_pairs = data_cast_27.cast.reset_index() # Создадим датафрейм только с актерским составом.

# Используя модуль iterools, найдем парные комбинации и запишем их в отдельную колонку.
data_cast_27_pairs['pairs'] = data_cast_27_pairs.cast.apply(lambda x: list(itertools.combinations(x, 2)))
data_cast_27_pairs = data_cast_27_pairs.explode('pairs') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Пройдемся по колонке пар и найдем наиболее часто встречиющиеся.
collections.Counter(data_cast_27_pairs.pairs).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

# Submission

In [150]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [151]:
len(answers)

27